@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kaushan Script", "Sail", cursive;
}

body {
  background-color: #0b1e4a;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#fireworks {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.card {
  width: 760px;
  height: 480px;
  perspective: 1200px;
  transition: 1s;
  z-index: 1;
  position: relative;
  left: -30px;
}

.card:hover {
  transform: rotate(-5deg);
}

.card:hover .outside {
  transform: rotateY(-130deg);
}

.outside,
.inside {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
}

.inside {
  background: linear-gradient(to right, #e7e7e7, #ffffff 30%);
  line-height: 3;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
}

.outside {
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
  cursor: pointer;
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background-color: #ffffff;
}
.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e7e7e7, #ffffff 30%);
}

.cake {
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.top-layer,
.middle-layer,
.bottom-layer {
  background-color: #e7e7e7;
  height: 70px;
  width: 205px;
  background-repeat: repeat;
  background-size: 60px 100px;
  background-position: 28px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-image: linear-gradient(
      transparent 50px,
      #fedbab 50px,
      #fedbab 60px,
      transparent 60px
    ),
    radial-gradient(circle at 30px 5px, #994c10 30px, #fcbf29 31px);
  border-radius: 10px 10px 0 0;
  position: relative;
  margin: auto;
}

.middle-layer {
  transform: scale(0.85);
  top: 6px;
}
.top-layer {
  transform: scale(0.7);
  top: 26px;
}

.candle {
  height: 40px;
  width: 15px;
  background: repeating-linear-gradient(
    45deg,
    #fd3018 0,
    #fd3018 5px,
    #ffa89e 5px,
    #ffa89e 10px
  );
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 173px;
}

.candle:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #ffa500;
  border-radius: 0 50% 50% 50%;
  bottom: 41px;
  transform: rotate(45deg);
  left: -1px;
}

.outside p {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  letter-spacing: 4px;
  margin: 18px 10px;
}
.inside p {
  font-size: 15px;
  line-height: 18px;
}



@media screen and (min-width: 1000px) {
  .icons {
    left: 30px;
  }

  .icons .row span {
    font-size: 56px;
  }
}
@media screen and (max-width: 440px) {
 .inside p {
  font-size: 13px;
  line-height: 18px;
}
}